<div class="navigation-wrapper">
	<div class="site-name" style="font-size:130%">
		<a href="{{ site.url }}/"><i class="fa fa-gears fa-spin"></i>&nbsp;{{ site.title }}</a>
	</div><!-- /.site-name -->
	<div class="top-navigation">
		<nav role="navigation" id="site-nav" class="nav">
		    <ul>
		        {% for link in site.data.navigation %}
				    {% if link.url contains 'http' %}
				        {% assign domain = '' %}
				        {% else %}
				        {% assign domain = site.url %}
				    {% endif %}
				    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
				{% endfor %}
				<li><a href="http://www.paw.cat/feed.xml"><i class="fa fa-rss"></i> RSS</a></li>
		    </ul>
		</nav>
	</div><!-- /.top-navigation -->
	
</div><!-- /.navigation-wrapper -->