<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
{% include _disqus_comments.html %}
</head>

<body class="post">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/themes/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article class="post">
  <br/>
    <div class="headline-wrap">
      {% if page.link %}
        <h1><a href="{{ page.link }}">{{ page.title }}</a></h1>
      {% else %}
        <h1><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
        <p class="byline">Published on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>{% if page.modified %} and last modified on <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time>{% endif %}.</p>
      {% endif %}
      <a class="catag" onmouseover="this.style.backgroundColor='{{ category.color }}',this.style.color='white'" onmouseout="this.style.backgroundColor='white',this.style.color='#343434'" href="{{ site.url }}/{{ category.slug }}/">{{ category.name }}</a><i class="fa fa-tags"></i>&nbsp;:&nbsp;&nbsp;&nbsp;{% for tag in page.tags %}<a class="catag" onmouseover="this.style.backgroundColor='#343434',this.style.color='white'" onmouseout="this.style.backgroundColor='white',this.style.color='#343434'" href="{{ site.url }}/tag/{{ tag }}/">{{ tag }}</a>
      {% endfor %}
      <hr />
    </div><!--/ .headline-wrap -->
    <div class="article-wrap">
      {% for site_category in site.data.categories %}
        {% if site_category.slug == page.category %}
          {% assign category = site_category %}
        {% endif %}
      {% endfor %}
      {{ content }}
       <hr />
      <footer role="contentinfo">
        <div class="article-author-bottom">
          {% include _author-bio.html %}
        </div>
        {% if page.share != false %}
        {% include _social-share.html %}
        {% endif %}     
        <br/>
      </footer>
    </div><!-- /.article-wrap -->

  {% if page.comments != false %}
    {% include _duoshuo_comments.html %}
    <!-- <section id="disqus_thread"></section> /#disqus_thread -->  
  {% endif %}
  </article>
</div><!-- /#main -->

<div class="footer-wrap">
  <div class="related-articles">
  <h4>You might also enjoy <small class="pull-right">(<a href="{{ site.url }}/Articles/">View all posts</a>)</small></h4>
    <ul>
    {% for post in site.related_posts limit:3 %}
      <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
    <hr />
  </div><!-- /.related-articles -->
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}         
</body>
</html>
